<div class="container">
  <% @questions.each do |eachQuestion| %>
    <div class="lead well">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-circle" src="<%= eachQuestion.gravatar %>" alt="Playground image">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= eachQuestion.email %></h4>
          <div><%= time_ago_in_words eachQuestion.created_at %> ago</div>
          <%= eachQuestion.body %>
          <div><a href="/questions/123" class="btn btn-success btn-xs">View Answers</a></div>
        </div>
      </div>
    </div>
  <% end %>
